html{

}

body{
	font-family:"arial";
}

.assignment{
    font-size:1.5em;
}

.solution{
	width:50px
}

.contactContainer {
  			/* The image used */
	background-image:url('../images/bg.jpg');
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.form{ 
	padding:2px;
 	max-width: 500px;
    padding: 10px 20px;
	background:#CCC;
	    color: #FFF;
    text-shadow: none;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
}

.result{font-size: 18px; color:red}

.toRead {
	font-size:50px;
	text-align:center;	
}

.controleContainer{	background-color:none;
					min-height:200px;
					text-shadow: none;
					-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
					-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
					box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
					border-radius: 25px;
  					border: 2px solid #101010;
  					margin-right:2px;
  					}
 .exerciseContainer{	background-color:none;
						min-height:200px;
						text-shadow: none;
						-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
						-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
						box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
						border-radius: 25px;
	  					border: 2px solid #101010;
	  					margin-left:2px;
	  					margin-right:-4px
 
 }
